.login_container {
	background-color: rgb(26, 41, 73);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_mainbox {
	background-image: url("../images/login.jpg");
	width: 80%;
	height: 90%;
   
}

.login_box {
	width: 37%;
	background-color: rgb(244, 249, 254);
	height: 100%;
    padding: 20px 25px 10px 25px;
    min-width: 276px;
}

.logo_box {
	display: flex;
	flex-direction: column;
	height: 25%;
	justify-content: space-between;
    margin-bottom: 20px;
}

.logo_box > img {
	width: 130px;
}

.logo_box > div {
	display: flex;
}

.loginform_box>form{
display: flex;
flex-direction: column;
/* gap: 28px; */
margin-top: 30px;
}

.loginform_box>form>input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 3px 20px -4px lightblue;
    outline: none;
}

.loginform_box>form>div{
    display: flex;
    justify-content: space-between;
}

.loginform_box>form>div>button{
   width: 40%;
   padding: 8px 0px 8px 0px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   margin-top: 20px;
   box-shadow: 1px 3px 20px -4px lightblue;
   background-color: rgb(66, 100, 235);
   color: #fff;
}

.loginform_box>form>div>button:hover{
    transform: scale(1.1);
}

